@media screen and (max-width:600px) {
    .main-nav h1 {
        background-color: grey;
        border-radius: 0.5rem;
        color: white;
        margin: 1.5rem 0.5rem;
    }

    .group-name {
        padding: 0.3rem;
    }

    .all-groups {
    }


    
   
    .all-groups-active  {
        
    }

    .all-groups {
    }
}