@media screen and (max-width:600px) {
    header  {
        background-color: red;
        padding: 0.5rem;
        color: white;
    }

    img {
        width: 5rem;
        border: solid black ;
        border-radius: 3rem;
        padding: 0.1rem;
    }
}